<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title class="vavilon" data-vavilon="name">{{ name }}</title>
    <meta name="description"
          content="{{ decription }}">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link
        href="https://fonts.googleapis.com/css?family=Fira+Sans:500|Roboto+Mono:400,500,700&display=swap&subset=cyrillic"
        rel="stylesheet">

    <link rel="stylesheet" type="text/css" media="screen" href="/style.min.css?v=4.0.0"/>

    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
    <link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#fb8c00">
    <link rel="shortcut icon" href="/favicons/favicon.ico">

    <script type="application/json" data-vavilon-dict="en" src="/en.json"></script>
    <script src="https://cdn.jsdelivr.net/npm/vavilon@1.1/dist/vavilon.min.js"></script>
</head>

<body>
    <span id="cl" data-vavilon="lang" class="vavilon">ru</span>

    <main class="container" itemscope itemtype="https://schema.org/Person">
        <meta itemprop="email" content="nick@karamoff.ru">
        <section class="sect bio" id="bio">
            <img itemprop="photo" class="me" src="/me.png" alt="Фото">
            <p>
                <span class="vavilon" data-vavilon="desc-1">Привет! Я&nbsp;—</span>
                <span itemprop="jobTitle" class="vavilon" data-vavilon="desc-jobtitle">фуллстек-разработчик</span>
                <span class="vavilon" data-vavilon="desc-2">и&nbsp;студент из&nbsp;Казани. Люблю дизайн и&nbsp;шрифты, веду</span>
                <a href="https://t.me/s/karamoff" class="vavilon" data-vavilon="desc-blog">блог</a>
                <span class="vavilon" data-vavilon="desc-3">и</span>
                <a href="https://t.me/s/TheToolbox" class="vavilon" data-vavilon="desc-toolbox">канал c&nbsp;полезностями</a>
                <span class="vavilon" data-vavilon="desc-4">в&nbsp;Телеграме.</span>
            </p>
        </section>
        <section class="sect" id="info">
            <h1 itemprop="name" class="my-name">
                <span class="vavilon" data-vavilon="name">{{ name }}</span>
                <button class="lang-btn vavilon" data-vavilon="other-lang" onclick="tL()">in English</button>
            </h1>
            <ul class="social c">
                <li><a itemprop="sameAs" href="https://vk.com/nickkaramoff" class="vk-link vavilon" data-vavilon="vk">
                    ВКонтакте
                </a></li>
                <li><a itemprop="sameAs" href="https://twitter.com/nickkaramoff" class="tw-link vavilon"
                       data-vavilon="twitter">
                    Твиттер
                </a></li>
                <li><a itemprop="sameAs" href="https://t.me/nickkaramoff" class="tg-link vavilon"
                       data-vavilon="telegram">
                    Телеграм
                </a></li>
                <li><a itemprop="sameAs" href="https://github.com/nickkaramoff" class="gh-link vavilon"
                       data-vavilon="github">
                    Гитхаб
                </a></li>
                <li><a itemprop="sameAs" href="https://linkedin.com/in/karamoff" class="in-link vavilon"
                       data-vavilon="linkedin">
                    Линкедин
                </a></li>
                <li><a href="mailto:nick@karamoff.ru" class="em-link vavilon" data-vavilon="mail">
                    Почта
                </a></li>
            </ul>
        </section>
        <section class="sect" id="skills">
            <h2 class="vavilon" data-vavilon="skills">Навыки</h2>
            <table class="sk">
                <tr>
                    <td class="sk-name vavilon" data-vavilon="client">Клиент:</td>
                    <td>Vue.js, Nuxt.js, Bootstrap, Electron, Android</td>
                </tr>
                <tr>
                    <td class="sk-name vavilon" data-vavilon="server">Сервер:</td>
                    <td>Django, Flask, Express, Spring&nbsp;Boot</td>
                </tr>
                <tr>
                    <td class="sk-name vavilon" data-vavilon="db">БД:</td>
                    <td>PostgreSQL, SQLite, MySQL</td>
                </tr>
                <tr>
                    <td class="sk-name vavilon" data-vavilon="build">Сборка:</td>
                    <td>Gulp, Webpack</td>
                </tr>
                <tr>
                    <td class="sk-name vavilon" data-vavilon="deploy">Деплой:</td>
                    <td>Docker, GitLab&nbsp;CI</td>
                </tr>
            </table>
        </section>
        <section class="sect" id="projects">
            <h2 class="vavilon" data-vavilon="projects">Проекты</h2>
            <div class="portfolio">
                {{#each projects}}
                    <a href="{{this.href}}" class="proj">
                        <div class="proj-info">
                            <h4 class="proj-name vavilon" data-vavilon="p-{{ this.id }}-name">
                                {{ this.name.ru }}
                            </h4>
                            <p class="proj-desc vavilon" data-vavilon="p-{{ this.id }}-desc">
                                {{ this.description.ru }}
                            </p>
                        </div>
                        <div class="proj-date">{{ this.year }}</div>
                    </a>
                {{/each}}
            </div>
        </section>
    </main>
    <footer class="footer">
        &copy;&nbsp;2019
    </footer>

    <script>function tL(){const l=document.getElementById('cl').innerText;if(l === 'ru')setLang('en');else setLang('ru')}</script>
</body>

</html>
