doctype html
html(lang=defaultLanguage)
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")

        title.vavilon(data-vavilon="name")= name[defaultLanguage]
        meta.vavilon(name="description"
                     content=descriptionMeta[defaultLanguage]
                     data-vavilon="descriptionMeta")

        link(rel="stylesheet" type="text/css" media="screen" href="/index.css")

        script(type="application/json" data-vavilon-dict="ru" src="/ru.json")
        script(type="application/json" data-vavilon-dict="de" src="/de.json")

        script(src="https://cdn.jsdelivr.net/npm/vavilon@1.1/dist/vavilon.min.js")

        link(rel="apple-touch-icon", sizes="180x180", href="/icons/apple-touch-icon.png?v=4.2.5")
        link(rel="icon", type="image/png", sizes="32x32", href="/icons/favicon-32x32.png?v=4.2.5")
        link(rel="icon", type="image/png", sizes="16x16", href="/icons/favicon-16x16.png?v=4.2.5")
        link(rel="mask-icon", href="/icons/safari-pinned-tab.svg?v=4.2.5", color="#6e2d39")
        link(rel="shortcut icon", href="/icons/favicon.ico?v=4.2.5")

        meta(name="yandex-verification" content="f60ae91d99ed2fa4")
        meta(name="yandex-verification" content="2fdc38f5d667ea71")

    body
        main.container
            section.bio#bio
                img(src="/images/me.png" alt="Фото")
                .bubble
                    each descriptionItem, idx in description[defaultLanguage]
                        p.vavilon(data-vavilon="description-"+idx)= descriptionItem

            section#info
                div
                    h1
                        span.name.vavilon(data-vavilon="name")= name[defaultLanguage]
                        span.flags
                            each lang in languages
                                span.flag(onclick=`setLang('${lang}')`)
                                    img(src=`/images/${lang}@2x.png` height=24 alt=lang)
            section#social
                ul.soc
                    each social in socials
                        li
                            a.vavilon(class=social.slug
                                      data-vavilon=social.slug
                                      href=social.link)= social.name[defaultLanguage]
                        | 

                //- .skills
                //-     .skill-row
                //-         .skill-name.vavilon(data-vavilon="db") БД:
                //-         .skill-desc PostgreSQL, SQLite, MySQL
                //-     .skill-row
                //-         .skill-name.vavilon(data-vavilon="build") Сборка:
                //-         .skill-desc Rollup, Webpack, Parcel, Gulp
                //-     .skill-row
                //-         .skill-name.vavilon(data-vavilon="deploy") Деплой:
                //-         .skill-desc Docker, Travis CI, GitLab CI

            each module in listModules
                section(id=module.slug)
                    h2.vavilon(data-vavilon="m-"+module.slug)= module.title[defaultLanguage]
                    each item in module.items
                        a.project(href=item.href)
                            .project-info
                                h3.vavilon(data-vavilon="m-"+module.slug+"-"+item.slug+"-name")= item.name[defaultLanguage] || item.name
                                p.vavilon(data-vavilon="m-"+module.slug+"-"+item.slug+"-desc")= item.description[defaultLanguage]
                            .project-year= item.year

        footer.footer
            | &copy;&nbsp;2020 
            span.vavilon(data-vavilon="name")= name[defaultLanguage]
