//
	(c) 2021 Nikita Karamov
	SPDX-License-Identifier: MIT
	https://github.com/NickKaramoff/website

doctype html
html(lang="en-GB" dir="ltr")
	head
		//- critical meta
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover")
		meta(http-equiv="x-ua-compatible" content="ie=edge")

		//- preconnect to CDNs
		link(rel="preconnect", href="https://fonts.googleapis.com" crossorigin)
		link(rel="preconnect", href="https://fonts.gstatic.com" crossorigin)

		//- meta about me
		title Nikita Karamov
		meta(name="description" content="A web developer.")
		meta(name="theme-color" content="#cc2233")
		link(rel="license" href="https://github.com/NickKaramoff/website/blob/main/LICENSE")

		//- meta for robots
		meta(name="robots" content="index,follow")
		meta(name="googlebot" content="index,follow")
		meta(name="google" content="nositelinkssearchbox")
		meta(name="yandex-verification" content="2fdc38f5d667ea71")

		//- favicons
		link(rel="icon" type="image/x-icon"  href=`/favicon.ico?v=${version}`)
		link(rel="icon" type="image/svg+xml" href=`/icon.svg?v=${version}`)
		link(rel="apple-touch-icon" href=`/apple-touch-icon.png?v=${version}`)
		link(rel="mask-icon" href=`/safari-pinned-tab.svg?v=${version}` color="#cc2233")
		link(rel="manifest" href=`/site.webmanifest?v=${version}`)

		//- stylesheets
		link(rel="stylesheet" type="text/css" href="/main.css")

		//- Google Fonts
		link(href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap"
		     rel="preload" as="style")
		link(href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap"
		     rel="stylesheet" media="print" onload="this.media='all'")
		noscript
			link(href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap"
			     rel="stylesheet")

		//- stop phone detection
		meta(name="format-detection" content="telephone=no")
		meta(name="skype_toolbar" content="skype_toolbar_parser_compatible")

	body
		header(aria-hidden="true")
			svg#l(width="48" height="48" viewBox="0 0 1000 1000" xmlns="http://www.w3.org/2000/svg")
				g(fill="#c23")
					circle#left(cx="200" cy="200" r="150")
					circle#right(cx="200" cy="800" r="150")
					path(d="M393.934 393.934l300-300c58.539-58.539 153.593-58.539 212.132 0s58.539 153.593 0 212.132L712.132 500l193.934 193.934c58.539 58.539 58.539 153.593 0 212.132s-153.593 58.539-212.132 0l-300-300c-58.539-58.539-58.539-153.593 0-212.132z")
		main
			section#intro
				div
					h1 Nikita Karamov
					| is a web developer.
			section#bio
				p#dev
					| He develops open-source libraries and applications; you can find it
					| all on
					|
					a(href="https://github.com/NickKaramoff") GitHub
					|.
				p#social
					| To follow him you can visit his pages on
					|
					a(href="https://fosstodon.org/@NickKaramoff") Fosstodon
					| , a Mastodon instance on technology and FOSS, and
					|
					a(href="https://www.instagram.com/nickkaramoff/") Instagram
					| , which needs no introduction.
				p#contact
					| He can be contacted via
					|
					a() e-mail
					|
					| (optionally with
					|
					a() PGP
					| ) or
					|
					a() Telegram
					|.

		footer
			p
				| This
				|
				a() open-source
				|
				| website was made by him in 2021.

		script.
			const l = document.getElementById("l");

			l.addEventListener("dblclick", function (e) {
				l.classList.add("w");
				setTimeout(function () {
					l.classList.remove("w");
				}, 5000)
			})
