doctype html
html(lang=defaultLanguage)
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")

		title.vavilon(data-vavilon="name")= name[defaultLanguage]
		meta.vavilon(name="description"
			content=descriptionMeta[defaultLanguage]
			data-vavilon="descriptionMeta")

		link(rel="preconnect", href="https://cdn.jsdelivr.net" crossorigin)
		link(rel="preconnect", href="https://fonts.gstatic.com" crossorigin)

		link(href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600&display=swap" rel="preload" as="style")
		link(href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600&display=swap" rel="stylesheet" media="print" onload="this.media='all'")
		noscript
			link(href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600&display=swap" rel="stylesheet")

		link(href="/main.css" rel="stylesheet" type="text/css")

		each lang in languages
			script(type="application/json" data-vavilon-dict=lang src=`/${lang}.json`)

		script(src="https://cdn.jsdelivr.net/npm/vavilon@1.1.1/dist/vavilon.min.js" integrity="sha256-P9g9o8xg/QU+w/aJeJ0zu8Yhb73FOlzpP5zkK3csvhU=" crossorigin="anonymous")

		link(rel="manifest", href=`/site.webmanifest?v=${version}`)
		link(rel="icon", href=`/favicon.ico?v=${version}`)
		link(rel="icon", href=`/icon.svg?v=${version}`, type="image/svg+xml")
		link(rel="apple-touch-icon", href=`/apple-touch-icon.png?v=${version}`)
		link(rel="mask-icon", href=`/safari-pinned-tab.svg?v=${version}`, color="#cc2233")
		meta(name="theme-color", content="#cc2233")

		meta(name="yandex-verification" content="f60ae91d99ed2fa4")
		meta(name="yandex-verification" content="2fdc38f5d667ea71")

	body
		main
			section#about
				h1.vavilon(data-vavilon="name")= name[defaultLanguage]

				each descriptionItem, idx in description[defaultLanguage]
					p.vavilon(data-vavilon="description-" + idx)= descriptionItem

				table.about-table
					tbody
						tr
							th Expertise
							td 5 years
						tr
							th Location
							td Kazan, Russia (GMT+3)
						tr
							th Contact me
							td
								a(href="mailto:nick@karamoff.dev") nick[at]karamoff.dev
								= " "
								a(href="https://t.me/nickkaramoff") Telegram

			section.bio#bio
				.bio__head
					.bio__head__flags
						each lang in languages
							button.flag(onclick=`setLang('${lang}')`, title=languageNames[languages.indexOf(lang)], type="button")
								img(src=`/images/${lang}.svg` width=0, height=0 aria-hidden="true")
								= languageNames[languages.indexOf(lang)]

			section#social
				ul.social
					each social in socials
						li.social__item
							a.social__item__link.vavilon(style=`background-image: linear-gradient(${social.color}, ${social.color});`
								data-vavilon=social.slug
								href=social.link)= social.name[defaultLanguage]

			each module in listModules
				section(id=module.slug)
					h2.vavilon(data-vavilon="m-" + module.slug)= module.title[defaultLanguage]
					ul.section-list
						each item in module.items
							li.section-list__item
								a.section-list__item__link(href=item.href)
									.section-list__item__link__info
										.section-list__item__link__info__year= item.year
										h3.section-list__item__link__info__title.vavilon(data-vavilon="m-" + module.slug + "-" + item.slug + "-name")= item.name[defaultLanguage] || item.name
									p.section-list__item__link__description.vavilon(data-vavilon="m-" + module.slug + "-" + item.slug + "-desc")= item.description[defaultLanguage]

		footer.footer
			| &copy;&nbsp;2020
			|
			span.vavilon(data-vavilon="name")= name[defaultLanguage]
